

<div class="pic"><img [src]="imageurl" class="img-fluid" alt=""></div>
 <div class="member-info">
              <h4>{{name}}</h4>
              <span>{{field}}</span>
              <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>

       